[Unit]
Description=Node exporter for Prometheus including Textfile exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target

[Service]
User=root
ExecStart=/root/monitoring/node_exporter/node_exporter --collector.textfile.directory /root/monitoring/node_exporter/textfile_collector/
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
